
button.accordion-button[aria-expanded='true']{
  background-color: red;
}

button.accordion-button[aria-expanded='false']{
  background-color: green;
}

.show.accordion-body{
background-color: aqua;
}