
button.accordion-button[aria-expanded='true']{
  background-color: red;
}

button.accordion-button[aria-expanded='false']{
  background-color: green;
}

.show.accordion-body{
background-color: aqua;
}
body{
  background-image: url('./public/images/adloyada-holon-2022.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
body > .backopacity{
  position: absolute;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.4;
}
.accordion-body> .backopacity{
  
  background-color: aliceblue;
  z-index: 1;
  opacity: 0.4;
}