$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

.holon-mayor, .history {
    background-color: $yellow;
    overflow: hidden;
    margin-bottom: 50px;
    
    & .paragraph{
        color: $black;
    }
    & .title{
        color: $secondary
    }
  }
  
  .holon-mayor {

     & .styleTriangle > img {
          float: left;
          width: 100%;
          transform: translateX(-32%);
          shape-outside: polygon(70% 0, 40% 100%, 50% 50%);
          shape-margin: 2rem;
          -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%); 
          clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
        }
        
    & .floatLogo {
        padding-top: 20px;
        width: 100vh;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        & img {
            width: 75%;
            max-width: 300px;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
    }
}
  
    .history {

        & .styleTriangle > img {
            float: right;
            width: 100%;
            transform: translateX(18%);
            shape-outside: polygon(28% 0, 100% 0%, 100% 100%, 58% 100%);
            shape-margin: 2rem;
            -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%); 
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
        }
        
        & .floatLogo {
            padding-top: 20px;
            width: 100vh;
            display: table-cell;
        vertical-align: middle;
        text-align: center;
        
        & img {
            width: 100%;
            // max-width: 300px;
            border-radius: 50%;
            margin: auto;
            display: block;
        }
    }
}
    
    















.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

    .slide-in-left {
      -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
   @-webkit-keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
    }
    
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  