$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

.holon-mayor,
.history,
.adloyada,
.adloyada_road {
  background-color: $yellow;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 50px;

  & .paragraph {
    color: $black;
  }
  & .title {
    color: $secondary;
  }
}

.holon-mayor {
  & .styleTriangle > img {
    float: left;
    width: 100%;
    transform: translateX(-32%);
    shape-outside: polygon(70% 0, 40% 100%, 50% 50%);
    shape-margin: 2rem;
    -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
    -ms-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  }

  & .floatLogo {
    padding-top: 20px;
    width: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & img {
      width: 75%;
      max-width: 300px;
      border-radius: 50%;
      margin: auto;
      display: block;
    }
  }
}

.history {
  & .styleTriangle > img {
    float: right;
    width: 100%;
    transform: translateX(18%);
    shape-outside: polygon(28% 0, 100% 0%, 100% 100%, 58% 100%);
    shape-margin: 2rem;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    -ms-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s;
    
    &:hover{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
      width: 100%;
      transform: translateX(0);
      shape-outside: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
  }

  & .floatLogo {
    padding-top: 20px;
    width: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & img {
      width: 100%;
      // max-width: 300px;
      border-radius: 50%;
      margin: auto;
      display: block;
    }
  }
}

.adloyada {
  & .styleTriangle > img {
    float: left;
    width: 100%;
    transform: translateX(-32%);
    shape-outside: polygon(70% 0, 40% 100%, 50% 50%);
    shape-margin: 2rem;
    -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
    -ms-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
    transition: clip-path 1s, width 2s, transform 2s, shape-outside 1s;
    
    &:hover{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      width: 100%;
      transform: translateX(0);
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  & .floatLogo {
    padding-top: 20px;
    width: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & img {
      width: 100%;
      border-radius: 50%;
      margin: auto;
      display: block;
    }
  }
}

.adloyada_road {
  & .styleTriangle > img {
    float: right;
    width: 90%;
    transform: translateX(18%);
    shape-outside: polygon(28% 0, 100% 0%, 100% 100%, 58% 100%);
    shape-margin: 2rem;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    -ms-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
    transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s;
    
    &:hover{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
      width: 100%;
      transform: translateX(0);
      shape-outside: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
  }

  & .floatLogo {
    padding-top: 20px;
    width: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & img {
      width: 100%;
      border-radius: 25%;
      margin: auto;
      display: block;
    }
  }
}


@keyframes polygonExpend{
  from {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%);
    
  }
  
  to {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    
  }
}