/* Create four equal columns that floats next to eachother */

$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

.column > img{
    width: 100%;
    height: 200px; 
}

.slide_var{
background-color: $black;
margin-bottom: 15px;
text-align: center;
}

.modalPic, .modalVideo {
display: none;
position: fixed;
z-index: 5;
padding-top: 100px;
padding-bottom: 150px;
left: 0;
top: 130px;
width: 100%;
height: 100%;
overflow: auto;
background-color: $black;
}


/* Modal Content */
.modal-content, .modal-contentVideo{
position: relative;
background-color: $black;
margin: auto;
padding: 0;
width: 80%;
max-width: 1200px;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #999;
text-decoration: none;
cursor: pointer;
}

/* Hide the slides by default */
.mySlidesPic, .mySlidesVideo {
display: none;
& > img{
    width: 100%;
}
& > iframe{
    width: 78vw;
    max-width: 1200px;
    height: 500px;
    
}
}

.sliderPic, .sliderVideo{
position: relative;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 0;
width: auto;
height: 100%;
padding:  25% 16px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: $black;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 1rem;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Caption text */
.caption-container {
text-align: center;
background-color: $black;
padding: 2px 16px;
color: white;

}

img.demopic, img.demoVideo {
opacity: 0.6;
}

.active, .demopic:hover, .demoVideo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}