/* 
font-family: 'Henny Penny', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
 */

$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");

$primaryTitlesFont: "Henny Penny", cursive;
$titlesFont: "Pattaya", sans-serif;
$paragraphFont: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  font-family: $titlesFont;
}
p {
  font-family: $paragraphFont;
}

nav a.nav-link:hover {
  background-color: $secondary;
  border-radius: 38px;
}

footer a:hover {
  background-color: $info;
  border-radius: 38px;

}
li > a.dropdown-item {
  text-align: right;
}

ul.dropdown-menu {
  width: auto;
}

a.navbar-brand > img {
  width: 60%;
}

div.title{
        color: $green;
        font-weight: bold;
    }

div.paragraf{
    color: $secondary;
        font-weight: bold;
}