/* 
font-family: 'Henny Penny', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
 */
@import "picture-lightBox";
@import "social-icons";
@import "clock-timer";
@import "gallery";
@import "about";
@import "faqs";

$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");

$primaryTitlesFont: "Henny Penny", cursive;
$titlesFont: "Pattaya", sans-serif;
$paragraphFont: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  font-family: $titlesFont;
}
p {
  font-family: $paragraphFont;
}

nav a.nav-link:hover {
  background-color: $secondary;
  border-radius: 38px;
}
nav a.nav-link {
  border-radius: 38px;
}

footer a:hover {
  background-color: $info;
  border-radius: 38px;
}

footer a {
  border-radius: 38px;
}

li > a.dropdown-item {
  text-align: right;
}

ul.dropdown-menu {
  width: auto;
}

a.logo > img {
  width: 70%;
}

a.navbar-brand > img {
  width: 50%;
}

.logo {
  position: absolute;
  top: 8px;
  left: 20px;
}

div.title {
  color: $green;
  font-weight: bold;
}

div.paragraph {
  color: $secondary;
  font-weight: bold;
}
.paragraph a:hover {
  color: $secondary;
  font-weight: bold;
}

.bg-paragraph{
    background-color: $info;
    border-radius: 50px;
    padding-right: 13px;
}
.sponsors div {
  height: 200px;
}

.navbar {
  padding-block: 0;
  margin-bottom: 8px;
}

.form-floating > input::selection,
.form-floating > textarea::selection {
  background-color: $green;
}

