/* 
font-family: 'Henny Penny', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
 */
/* Create four equal columns that floats next to eachother */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");
.column > img {
  width: 100%;
  height: 200px;
}

.slide_var {
  background-color: #0d0d0d;
  margin-bottom: 15px;
  text-align: center;
}

.modalPic, .modalVideo {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  padding-bottom: 150px;
  left: 0;
  top: 130px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0d0d0d;
}

/* Modal Content */
.modal-content, .modal-contentVideo {
  position: relative;
  background-color: #0d0d0d;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlidesPic, .mySlidesVideo {
  display: none;
}
.mySlidesPic > img, .mySlidesVideo > img {
  width: 100%;
}
.mySlidesPic > iframe, .mySlidesVideo > iframe {
  width: 78vw;
  max-width: 1200px;
  height: 500px;
}

.sliderPic, .sliderVideo {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  padding: 25% 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #0d0d0d;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: #0d0d0d;
  padding: 2px 16px;
  color: white;
}

img.demopic, img.demoVideo {
  opacity: 0.6;
}

.active, .demopic:hover, .demoVideo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.socialContainer {
  margin: 20px auto 0px auto;
  text-align: center;
}

.effect {
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.effect .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.effect a:last-child {
  margin-right: 0px;
}

.effect a {
  text-decoration: none !important;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}
.effect a i {
  position: relative;
  z-index: 3;
}
.effect a.fb {
  background-color: #3b5998;
}
.effect a.telegram {
  background-color: #00aced;
}
.effect a.youtube {
  background-color: #dd4b39;
}
.effect a.tr {
  background-color: #5a9234;
}
.effect a.insta {
  background-color: #bc2a8d;
}

/* aeneas effect */
.effect.aeneas a {
  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.effect.aeneas a i {
  transition: transform 0.4s linear 0s;
}
.effect.aeneas a:hover {
  transform: rotate(360deg);
  border-radius: 50%;
}
.effect.aeneas a:hover i {
  transform: rotate(-360deg);
}

.clock {
  margin-top: 50px;
  margin-inline: auto;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 250px;
  height: 100%;
  text-align: center;
  transition: 0.6s;
}

.is-countdown {
  text-transform: uppercase;
  text-align: center;
  padding: 3px 10px 25px;
  background: #9453a6;
  border-radius: 20px;
  margin-bottom: 30%;
  transition: background 2s;
}

.countdown-row {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0;
  text-align: center;
}

.countdown-section {
  position: relative;
  float: left;
  display: inline;
  width: 50px;
  height: 2.1em;
  margin: 0 1.5% 0 1.5%;
  font-size: 1em;
  text-align: center;
  color: #0d0d0d;
  background: #f2f2f2;
  border-radius: 3px;
}

.countdown-amount {
  display: block;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.countdown-section .countdown-period {
  margin-top: 7px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 1px 1px 5px black;
}

.clock h3 {
  font-weight: bold;
  color: #f2f2f2;
  text-shadow: 1px 1px 5px black;
}

.my-gallery {
  display: flex;
  height: 35rem;
  gap: 1rem;
}

.my-gallery > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.my-gallery > div:hover {
  flex: 5;
}

.my-gallery .secondary-card {
  text-align: center;
  color: #f2f2f2;
  position: relative;
  top: 29rem;
}

.gallery {
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.gallery .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.gallery a:last-child {
  margin-right: 0px;
}

.gallery a {
  text-decoration: none !important;
  color: #fff;
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}
.gallery a i {
  position: relative;
  z-index: 3;
}
.gallery a img {
  height: 600px;
  -o-object-fit: fill;
     object-fit: fill;
}

.gallery.aeneas a {
  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
.gallery.aeneas a i {
  transition: transform 0.4s linear 0s;
}
.gallery.aeneas a:hover {
  transform: rotate(360deg);
  border-radius: 30% 50% 30% 50%;
  opacity: 0.8;
}
.gallery.aeneas a:hover i {
  transform: rotate(-360deg);
}

.holon-mayor,
.history,
.adloyada,
.adloyada_road {
  background-color: #f2cc0f;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 50px;
}
.holon-mayor .paragraph,
.history .paragraph,
.adloyada .paragraph,
.adloyada_road .paragraph {
  color: #0d0d0d;
}
.holon-mayor .title,
.history .title,
.adloyada .title,
.adloyada_road .title {
  color: #9453a6;
}

.holon-mayor .styleTriangle > img {
  float: left;
  width: 100%;
  transform: translateX(-32%);
  shape-outside: polygon(70% 0, 40% 100%, 50% 50%);
  shape-margin: 2rem;
  -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  -ms-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
}
.holon-mayor .floatLogo {
  padding-top: 20px;
  width: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.holon-mayor .floatLogo img {
  width: 75%;
  max-width: 300px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.history .styleTriangle > img {
  float: right;
  width: 100%;
  transform: translateX(18%);
  shape-outside: polygon(28% 0, 100% 0%, 100% 100%, 58% 100%);
  shape-margin: 2rem;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  -ms-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  transition: width 1s, transform 1s, shape-outside 0.5s, -webkit-clip-path 0.5s;
  transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s;
  transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s, -webkit-clip-path 0.5s;
}
.history .styleTriangle > img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  width: 100%;
  transform: translateX(0);
  shape-outside: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}
.history .floatLogo {
  padding-top: 20px;
  width: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.history .floatLogo img {
  width: 100%;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.adloyada .styleTriangle > img {
  float: left;
  width: 100%;
  transform: translateX(-32%);
  shape-outside: polygon(70% 0, 40% 100%, 50% 50%);
  shape-margin: 2rem;
  -webkit-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  -ms-clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 30% 100%);
  transition: width 2s, transform 2s, shape-outside 1s, -webkit-clip-path 1s;
  transition: clip-path 1s, width 2s, transform 2s, shape-outside 1s;
  transition: clip-path 1s, width 2s, transform 2s, shape-outside 1s, -webkit-clip-path 1s;
}
.adloyada .styleTriangle > img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  transform: translateX(0);
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.adloyada .floatLogo {
  padding-top: 20px;
  width: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.adloyada .floatLogo img {
  width: 100%;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.adloyada_road .styleTriangle > img {
  float: right;
  width: 90%;
  transform: translateX(18%);
  shape-outside: polygon(28% 0, 100% 0%, 100% 100%, 58% 100%);
  shape-margin: 2rem;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  -ms-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 40% 100%);
  transition: width 1s, transform 1s, shape-outside 0.5s, -webkit-clip-path 0.5s;
  transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s;
  transition: clip-path 0.5s, width 1s, transform 1s, shape-outside 0.5s, -webkit-clip-path 0.5s;
}
.adloyada_road .styleTriangle > img:hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  width: 100%;
  transform: translateX(0);
  shape-outside: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}
.adloyada_road .floatLogo {
  padding-top: 20px;
  width: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.adloyada_road .floatLogo img {
  width: 100%;
  border-radius: 25%;
  margin: auto;
  display: block;
}

@-webkit-keyframes polygonExpend {
  from {
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}

@keyframes polygonExpend {
  from {
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #9453a6;
}
.accordion button {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  padding: 1em 0;
  color: #0d0d0d;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #9453a6;
  background-color: #8cbf3f;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #9453a6;
  border: 1px solid #9453a6;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  margin-left: 10px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #9453a6;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 35rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  transition: opacity 300ms linear, max-height 300ms linear, min-height 300ms linear;
  will-change: opacity, max-height, min-height;
}
.accordion button[aria-expanded=true] + .accordion-content img {
  width: 100%;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear, min-height 200ms linear;
  will-change: opacity, max-height, min-height;
}
.accordion .accordion-content .paragraph {
  font-weight: lighter;
  margin: 2em;
  color: #0d0d0d;
  word-spacing: 0.2rem;
}
.accordion .accordion-content .paragraph a {
  cursor: pointer;
  font-weight: bold;
}
.accordion .accordion-content .paragraph a:hover {
  color: #9453a6;
}

.sponsorsLogo {
  margin-inline: auto;
}
.sponsorsLogo img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  margin-top: 100px;
}

.purimGame {
  background-color: #f2cc0f;
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 800px;
  width: 80%;
  margin-inline: auto;
}
.purimGame .hidden {
  width: 0;
  height: 0;
  scale: 0;
}
.purimGame .show {
  scale: 1;
  width: auto;
  height: auto;
  transition: scale 0.5s;
}
.purimGame .scoreBar {
  position: relative;
  left: 2.5%;
  height: 100px;
  width: 105%;
  border-radius: 25px;
  box-shadow: 0 5px 5px 5px #931997;
  border: 2px solid #9453a6;
  background: #9453a6;
  background: linear-gradient(to top, #d053a6, #9453a6);
}
.purimGame .scoreBar .nextQ,
.purimGame .scoreBar .prevQ {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 30px 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}
.purimGame .scoreBar .nextQ:hover,
.purimGame .scoreBar .prevQ:hover {
  opacity: 0.8;
}
.purimGame .scoreBar .prevQ {
  left: 0;
}
.purimGame .scoreBar .prevQ:hover {
  -webkit-animation: slide-left 1s both infinite;
          animation: slide-left 1s both infinite;
}
.purimGame .scoreBar .nextQ:hover {
  -webkit-animation: slide-right 1s both infinite;
          animation: slide-right 1s both infinite;
}
.purimGame .main {
  padding-top: 80px;
}
.purimGame .main .triviaTitle {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 80px;
}
.purimGame .main .triviaTitle .questionTitle {
  text-shadow: gray 3px 3px;
  font-weight: 400;
}
.purimGame .main .triviaQuestions {
  text-align: center;
}
.purimGame .main .triviaQuestions .questionBody label {
  display: flex;
  width: 90%;
  height: 120px;
  padding: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.purimGame .main .triviaQuestions .questionBody label.btn {
  color: #0d0d0d !important;
  text-shadow: 1px 2px 20px white;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  background: linear-gradient(to top, #eeeeee, #bbbbbb);
  vertical-align: middle;
}
.purimGame .main .triviaQuestions .questionBody label:hover {
  -webkit-animation: background-switch-black 0.5s both;
          animation: background-switch-black 0.5s both;
  color: #f2f2f2 !important;
}
.purimGame .main .triviaQuestions .questionBody button {
  display: flex;
  width: 90%;
  height: 120px;
  padding: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.purimGame .main .triviaQuestions .questionBody button.btn {
  color: #0d0d0d !important;
  text-shadow: 1px 2px 20px white;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  background: linear-gradient(to top, #eeeeee, #bbbbbb);
  vertical-align: middle;
}
.purimGame .main .triviaQuestions .questionBody button:hover {
  -webkit-animation: background-switch-black 0.5s both;
          animation: background-switch-black 0.5s both;
  color: #f2f2f2 !important;
}
.purimGame .main .triviaQuestions .checkedTrue {
  background: linear-gradient(to top, rgba(164, 226, 70, 0.6509803922), #8cbf3f);
  -webkit-animation: checked-true 0.5s 2 both;
          animation: checked-true 0.5s 2 both;
}
.purimGame .main .triviaQuestions .checkedFalse {
  background: linear-gradient(to top, rgba(219, 21, 21, 0.6509803922), #db1515);
  color: #f2f2f2 !important;
  -webkit-animation: checked-false 0.5s 2 both;
          animation: checked-false 0.5s 2 both;
}
.purimGame .main .triviaQuestions .answered {
  position: absolute;
  background-color: red;
  content: "";
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes background-switch-black {
  0% {
    transform: scale(1);
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  20% {
    background: linear-gradient(to top, #bbbbbb, #999999);
  }
  40% {
    background: linear-gradient(to top, #999999, #666666);
  }
  60% {
    background: linear-gradient(to top, #666666, #333333);
  }
  80% {
    background: linear-gradient(to top, #333333, rgba(13, 13, 13, 0.6509803922));
  }
  100% {
    transform: scale(0.95);
    background: linear-gradient(to top, rgba(13, 13, 13, 0.6509803922), #0d0d0d);
  }
}
@keyframes background-switch-black {
  0% {
    transform: scale(1);
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  20% {
    background: linear-gradient(to top, #bbbbbb, #999999);
  }
  40% {
    background: linear-gradient(to top, #999999, #666666);
  }
  60% {
    background: linear-gradient(to top, #666666, #333333);
  }
  80% {
    background: linear-gradient(to top, #333333, rgba(13, 13, 13, 0.6509803922));
  }
  100% {
    transform: scale(0.95);
    background: linear-gradient(to top, rgba(13, 13, 13, 0.6509803922), #0d0d0d);
  }
}
@-webkit-keyframes checked-true {
  0% {
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  100% {
    background: linear-gradient(to top, rgba(164, 226, 70, 0.6509803922), #8cbf3f);
  }
}
@keyframes checked-true {
  0% {
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  100% {
    background: linear-gradient(to top, rgba(164, 226, 70, 0.6509803922), #8cbf3f);
  }
}
@-webkit-keyframes checked-false {
  0% {
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  100% {
    background: linear-gradient(to top, rgba(219, 21, 21, 0.6509803922), #db1515);
    color: #f2f2f2 !important;
  }
}
@keyframes checked-false {
  0% {
    background: linear-gradient(to top, #eeeeee, #bbbbbb);
  }
  100% {
    background: linear-gradient(to top, rgba(219, 21, 21, 0.6509803922), #db1515);
    color: #f2f2f2 !important;
  }
}
.progressBar {
  display: flex;
  width: 76%;
  position: absolute;
  top: 60%;
  left: 39%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 10%;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: none;
  cursor: pointer;
}

.step {
  flex-grow: 1;
  position: relative;
}
.step.end {
  width: 0%;
  flex-grow: 0;
}

.step-progress {
  width: 100%;
  height: 0.5em;
  background: #f2cc0f;
}
.step-progress.end {
  width: 0%;
  transform: scale(0);
}

.icon-wrapper {
  text-align: center;
  display: inline-block;
}

.roll-progress.done .step-progress:not(.end):after {
  position: absolute;
  content: "";
  height: 0.5em;
  width: 0;
  background-color: #8cbf3f;
  -webkit-animation: growLine 1s linear forwards;
          animation: growLine 1s linear forwards;
}

.icon-checkmark {
  position: absolute;
  top: -0.55em;
  left: -0.125em;
  border: 0.125em solid #f2cc0f;
  background: #0d0d0d;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  padding: 0.125em;
  transition: all 0.25s linear;
  cursor: pointer;
}

.step.done .icon-checkmark {
  background: #0087b3;
  border-color: #0087b3;
}

.icon-checkmark .path1 {
  stroke: #aaa;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: empty;
}

.step.done .icon-checkmark .path1 {
  -webkit-animation: dash 5s linear forwards;
          animation: dash 5s linear forwards;
  stroke: #f2cc0f;
}

.step-text {
  position: relative;
  font-size: 1.5rem;
  margin-left: 20%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #aaa;
  margin-top: 0;
  padding-top: 15px;
}
.step-text.end {
  margin-left: -50%;
}

.step.done .step-text {
  -webkit-animation: answered 0.5s linear forwards;
          animation: answered 0.5s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes growLine {
  to {
    width: 100%;
  }
}
@keyframes growLine {
  to {
    width: 100%;
  }
}
@-webkit-keyframes answered {
  to {
    color: #8cbf3f;
  }
}
@keyframes answered {
  to {
    color: #8cbf3f;
  }
}
@media only screen and (max-width: 1000px) {
  .progressBar {
    width: 90%;
    top: 70%;
  }
  .purimGame .scoreBar {
    height: 200px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  font-family: "Pattaya", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

nav a.nav-link:hover {
  background-color: #9453a6;
  border-radius: 38px;
}

nav a.nav-link {
  border-radius: 38px;
}

footer a:hover {
  background-color: #f2cc0f;
  border-radius: 38px;
}

footer a {
  border-radius: 38px;
}

li > a.dropdown-item {
  text-align: right;
}

ul.dropdown-menu {
  width: auto;
}

a.logo > img {
  width: 70%;
}

a.navbar-brand > img {
  width: 50%;
}

.logo {
  position: absolute;
  top: 8px;
  left: 20px;
}

div.title {
  color: #8cbf3f;
  font-weight: bold;
}

div.paragraph {
  color: #9453a6;
  font-weight: bold;
}

.paragraph a:hover {
  color: #9453a6;
  font-weight: bold;
}

.bg-paragraph {
  background-color: #f2cc0f;
  border-radius: 50px;
  padding-right: 13px;
}

.sponsors div {
  height: 200px;
}

.navbar {
  padding-block: 0;
  margin-bottom: 8px;
}

.form-floating > input::-moz-selection, .form-floating > textarea::-moz-selection {
  background-color: #8cbf3f;
}

.form-floating > input::selection,
.form-floating > textarea::selection {
  background-color: #8cbf3f;
}

.bouncyTitle {
  margin: 100px 0;
  padding-bottom: 20px;
  background-color: #f2cc0f;
  border-radius: 50%;
  -webkit-animation: roll-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: roll-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.bouncyTitle > .title {
  padding: 50px 0;
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) 1s both;
}
.bouncyTitle > .paragraph {
  padding: 50px 0;
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in-blurred-bottom {
  0% {
    transform: translateY(800px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-bottom {
  0% {
    transform: translateY(800px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
.contactUsCard {
  background-color: #f2cc0f;
  border-radius: 15px;
  padding: 20px 0;
}
.contactUsCard .text {
  color: #9453a6;
}

@media (1300px <= width) {
  main {
    margin-top: 70px;
  }
}/*# sourceMappingURL=style.css.map */