/* 
font-family: 'Henny Penny', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif;
 */

$white: #f2f2f2;
$black: #0d0d0d;
$yellow: #f2cc0f;
$green: #8cbf3f;
$purple: #9453a6;
$secondary: $purple;
$primary: $green;
$success: $white;
$info: $yellow;

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");

$primaryTitlesFont: "Henny Penny", cursive;
$titlesFont: "Pattaya", sans-serif;
$paragraphFont: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
.navbar a {
  font-family: $titlesFont;
}
p {
  font-family: $paragraphFont;
}

nav a.nav-link:hover {
  background-color: $secondary;
  border-radius: 38px;
}
nav a.nav-link {
  border-radius: 38px;
}

footer a:hover {
  background-color: $info;
  border-radius: 38px;
}
footer a {
  border-radius: 38px;
}

li > a.dropdown-item {
  text-align: right;
}

ul.dropdown-menu {
  width: auto;
}

a.logo > img {
  width: 70%;
}

a.navbar-brand > img {
    width: 50%;
}

.logo{
position: absolute;
top: 8px;
left: 20px;
}

div.title {
  color: $green;
  font-weight: bold;
}

div.paragraf {
  color: $secondary;
  font-weight: bold;
}

.sponsors div {
  height: 200px;
}

.my-galeri {
  display: flex;
  height: 35rem;
  gap: 1rem;
}

.my-galeri > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.my-galeri > div:hover {
  flex: 5;
}
.my-galeri .secondary-card {
  text-align: center;
  color: $white;
  position: relative;
  top: 29rem;
}

.form-floating > input::selection, .form-floating > textarea::selection{
background-color: $green;
}

.clock {
    margin-top: 50px;
    margin-inline: auto;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 100%;
    text-align: center;
    transition: .6s;
}

.is-countdown {
    text-transform: uppercase;
    text-align: center;
    padding: 3px 10px 25px;
    background: $purple;
    border-radius: 20px;
    margin-bottom: 30%;
    transition: background 2s;
}

.countdown-row {
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 0;
    text-align: center;
}
.countdown-section {
    position: relative;
    float: left;
    display: inline;
    width: 50px;
    height: 2.1em;
    margin: 0 1.5% 0 1.5%;
    font-size: 1em;
    text-align: center;
    color: $black;
    background: $white;
    border-radius: 3px;
}
.countdown-amount {
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
}
.countdown-section .countdown-period{
    margin-top: 7px;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: $white;
    text-shadow: 1px 1px 5px black;
}
.clock h3{
    font-weight: bold;
    color: $white;
    text-shadow: 1px 1px 5px black;
}